---
import Layout from "@layouts/Layout.astro";
import Button from "@components/Button/button.astro";
---

<Layout title="Home">
    <div style="max-width: 1200px; margin: auto; padding: 16px;">
        <h1>Hello World!</h1>
        <div style="display: flex; gap: 16px; margin: 16px 0;">
            <Button tag="button">Test tag 'button'</Button>
            <Button tag="a" type="terciary">Test tag 'a'</Button>
        </div>
    </div>
</Layout>


